{{#if recipeList.length}}
  <div>
    <div class="d-flex flex-row justify-content-between mt-4">
      {{! prettier-ignore }}
      {{#if recipeList.[1]}}
        <p class="fs-1 fw-bold">You can make {{recipeList.length}} recipes</p>
      {{else}}
        <p class="fs-1 fw-bold">You can make {{recipeList.length}} recipe</p>
      {{/if}}
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" aria-label="Sort" type="button" id="filterSortDropDown" data-bs-toggle="dropdown" aria-expanded="false">
 <i class="fas fa-bars"></i>  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><p class="dropdown-header">Sort</p></li>
    <li><hr class="dropdown-divider"></li>
    <li>
      {{#if currentSort.name.current}}
        {{#if currentSort.name.up}}
          <div id="sortByNameDiv" class="dropdown-item text-primary" name="up">
          Sort by Name<span class="fas fa-arrow-up ms-2"></span> </div>
        {{else}}
          <div id="sortByNameDiv" class="dropdown-item text-primary" name="down">
           Sort by Name<span class="fas fa-arrow-down ms-2"></span></div>
        {{/if}}
      {{else}}
        <div id="sortByNameDiv" class="dropdown-item" name="up">
        Sort by Name</div>
      {{/if}}
    </li>
    <li>
      {{#if currentSort.rating.current}}
        {{#if currentSort.rating.up}}
          <div id="sortByRatingDiv" class="dropdown-item text-primary" name="up">
           Sort by Rating<span class="fas fa-arrow-up ms-2"></span></div>
        {{else}}
          <div id="sortByRatingDiv" class="dropdown-item text-primary" name="down">
          Sort by Rating<span class="fas fa-arrow-down ms-2"></span> </div>
        {{/if}}
      {{else}}
        <div id="sortByRatingDiv" class="dropdown-item" name="up">
        Sort by Rating</div>
      {{/if}}
    </li>  
    <li>
      {{#if currentSort.time.current}}
        {{#if currentSort.time.up}}
          <div id="sortByTimeDiv" class="dropdown-item text-primary" name="up">
          Sort by Prep Time<span class="fas fa-arrow-up ms-2"></span> </div>
        {{else}}
          <div id="sortByTimeDiv" class="dropdown-item text-primary" name="down">
           Sort by Prep Time<span class="fas fa-arrow-down ms-2"></span></div>
        {{/if}}
      {{else}}
        <div id="sortByTimeDiv" class="dropdown-item" name="up">
        Sort by Prep Time</div>
      {{/if}}
    </li> 
    <li>
      {{#if currentSort.ingredient.current}}
        {{#if currentSort.ingredient.up}}
          <div id="sortByIngredientDiv" class="dropdown-item text-primary" name="up">
           Sort by Ingredient count<span class="fas fa-arrow-up ms-2"></span></div>
        {{else}}
          <div id="sortByIngredientDiv" class="dropdown-item text-primary" name="down">
           Sort by Ingredient count<span class="fas fa-arrow-down ms-2"></span></div>
        {{/if}}
      {{else}}
        <div id="sortByIngredientDiv" class="dropdown-item" name="up">
        Sort by Ingredient count</div>
      {{/if}}
    </li> 
  </ul>
</div>
    </div>
      {{#if ingredientSuggestions.length}}
   {{>ingredientSuggestions}}
   {{/if}}
    <div class="row row-cols-1 row-cols-md-3 g-4 g-md-3 g-lg-3 mt-3">
      {{#each recipeList}}
        <div class="col">
          <div class="card">
            <img
              src="{{recipeImageURL}}"
              class="card-img-top recipe-card-img"
              alt="{{name}} Recipe"
            />
            <div id="recipe-card-favorite">            
              <label class="add-fav">
                <input id="favorite_{{_id}}" type="checkbox" onclick="favoriteRecipe('{{_id}}')" {{#if ../user}}{{#if (arrayContains ../user.myFavoriteRecipe _id)}}checked{{/if}}{{/if}}>
                <i class="icon-heart"></i>
              </label>            
            </div>
            <div class="card-body">
              <p class="card-title fs-5 fw-bolder"><a
                  href="/recipes/{{_id}}"
                  target="_blank"
                >{{name}}</a>
                <small class="text-muted"><i
                    class="bi bi-box-arrow-up-right"
                  ></i></small></p>
              <p class="card-text">Rating:
                <span class="ratings">{{overallRating}}</span></p>
              <p class="card-text">{{trimString instructions 0 50}}...</p>
              <p class="card-text"><small class="text-muted">Posted By:
                  {{postedBy.firstName}}
                  {{postedBy.lastName}}</small></p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{else if ingredientsSelected}}
  {{#if ingredientSuggestions.length}}
   {{>ingredientSuggestions}}
   {{/if}}
  <div class="container mx-auto d-block w-50 mt-4">
    <img
      src="/public/images/not-found.png"
      class="img-fluid"
      alt="Select Ingredients"
    />
    <p class="text-center mt-3">Could not find any recipes</p>
  </div>
{{else}}
  <div class="container mx-auto d-block w-50 mt-4">
    <img
      src="/public/images/blank-recipe-list.png"
      class="img-fluid"
      alt="Select Ingredients"
    />
    <p class="text-center mt-3">Add your ingredients to get started</p>
  </div>
{{/if}}
{{>loginalertmodal}}
