<div class="container-fluid">
  <div class="row">
    <div class="col">
      {{>usersidebar}}
    </div>
    <div class="col-9 p-2 ms-4">
      <h1>{{title}}</h1>
      {{#if error}}
      <p class="error">{{error}}</p>
      {{/if}}
      <form method="POST" id="recipe-form" action="/recipes/submit/{{ids}}">
        <div class="input-group">
          <div class="input-group-prepend">
            <label class="input-group-text" for="name">Recipe Name</label>
          </div>
          <input type="text" name="name" id="name" class="form-control" placeholder="Recipe Name" value="{{name}}"
            required />
        </div>
        <br />

    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="cookingTime">Cooking Time</label>
      </div>
      <input
        type="number"
        name="cookingTime"
        id="cookingTime"
        class="form-control"
        placeholder="Cooking Time"
        value="{{data.cookingTime}}"
        required
      />
      <div class="input-group-prepend">
        <label class="input-group-text" for="servings">Servings</label>
      </div>
      <input
        class="form-control"
        type="number"
        name="servings"
        id="servings"
        placeholder="servings"
        value="{{data.servings}}"
        required
      />
    </div>
    <br />

    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="ingName">Add Ingredients:</label>
      </div>
      <input
        type="text"
        class="form-control"
        id="ingName"
        name="ingName"
        placeholder="Ingredient Name"
      />
      <div class="input-group-prepend">
        <label class="input-group-text" for="quantity">Quantity</label>
      </div>
      <input
        type="Number"
        class="form-control"
        id="quantity"
        name="quantity"
        placeholder="Quantity"
      />

      <div class="input-group-append">
        <select class="form-control form-select" name="qMeasure" id="qMeasure">
          <option value="" selected>Select Amount</option>
          <option value="teaspoon">Teaspoons</option>
          <option value="grams">Grams</option>
          <option value="cup">Cup</option>
          <option value="tablespoon">Tablespoons</option>
          <option value="bowl">Bowl</option>
          <option value="qty">Quantity</option>
          <option value="ml">Milliliters</option>
        </select>
      </div>

          <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="addIng" name="addIng" type="button">Add</button>
          </div>
        </div>
        <br />

        <div id="showDiv">
          <input type="text" class="form-control" name="mealtypestore" id="mealtypestore" value="{{data.mealType}}"
            hidden />
          <input type="text" name="ingredients" id="ingredients" value="{{ingArr}}" hidden />
          <p>Ingredients Added:</p>
        </div>
        <br />

    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="mealType">Meal type</label>
      </div>
      <select
        class="form-control form-control form-select"
        name="mealType"
        id="mealType"
        required
      >
        <option value="" selected>Select..</option>
        <option value="breakfast">Breakfast</option>
        <option value="brunch">Brunch</option>
        <option value="lunch">Lunch</option>
        <option value="snacks">Snacks</option>
        <option value="dinner">Dinner</option>
      </select>
      <div class="input-group-prepend">
        <label class="input-group-text" for="cuisine">Cuisine</label>
      </div>
      <input
        class="form-control"
        type="text"
        name="cuisine"
        id="cuisine"
        value="{{data.cuisine}}"
        placeholder="cuisine"
        required
      />
    </div>
    <br />

    <div class="input-group">
      <div class="input-group-prepend">
        <label class="input-group-text" for="instructions">Instructions</label>
      </div>
      <textarea
        class="form-control"
        name="instructions"
        id="instructions"
        placeholder="Instructions"
        required
      >{{data.instructions}}</textarea>
    </div>
    <br />

        <div class="input-group">
          <button class="btn btn-outline-secondary" id="button" type="submit">Submit
          </button>
        </div>

      </form>
      </div>
    <div class="col"></div>
  </div>
</div>
<script src="/public/js/editrecipe.js"></script>