<section>
  <h1>{{title}}</h1>
</section> 
<div class="slider-wrap">
    <div class="slider-item" style="background-image: url('img/hero_1.jpg');">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 ">
                    <p class="mb-2" data-aos="fade-up"><span class="mx-3">&bullet;</span> Posted by : {{data.postedBy}} </p>
                    <h1 data-aos="fade-up" data-aos-delay="100">{{data.name}}</h1>
              
                </div>
            </div>
        </div>
    </div> 
</div>

<section>  Cooking Time: {{data.cookingTime}}</section>
</br>
<section> Ingredients:
    {{#each data.ingredients}}
      <li>
          {{this.name}}
      </li>
    {{/each}}
</section>
</br>
<section> Meal Type: {{data.mealType}}</section>
</br>
<section> Cuisine: {{data.cuisine}}</section>
</br>
<section> Instructions: {{data.instructions}}</section>
</br>
<section>Servings: {{data.servings}}</section>
{{#if error}}
    <section id="errors">{{error}}</section>
{{/if}}
</section>