<div class="container-fluid">
  <div class="row">
    <div class="col">
    {{>usersidebar}}
    </div>
    <div class="col-9 p-2 ms-4">
        <h1>My Reviews:</h1>
        {{!-- <div class="container">
            {{#if hasReview}}
            <ul class="list-group list-group-flush">
                {{#each myReviews}}
                <li class="list-group-item">
                    <a href="/recipes/{{this.recipeid}}"><span class="mr-2">&starf;</span>{{this.recipename}} </a>
                    <p>rate: {{this.rating}} Your review: {{this.reviewText}} </p>
                </li>
                {{/each}}
            </ul>

            {{else}}
            <p class="font-italic">No Reviews posted yet.</p>
            {{/if}}
        </div> --}}
        {{#if hasReview}}
            {{#each myReviews}}
            <dl class="row mt-3 border-start border-4">
                <dt class="col-sm-3">Recipe</dt>
                <dd class="col-sm-9"><a href="/recipes/{{recipeid}}" target="_blank">{{recipename}}</a> <small><i class="fas fa-external-link-alt ms-1"></i></small></dd>
                <dt class="col-sm-3">Review</dt>
                <dd class="col-sm-9">{{reviewText}}</dd>                
                <dt class="col-sm-3">Rating</dt>
                <dd class="col-sm-9"><div class="ratings">{{rating}}</div></dd>
                <dt class="col-sm-3">Reviewed on</dt>
                <dd class="col-sm-9">{{dateOfReview}}</dd>
            </dl>
            {{/each}}
        {{else}}
        <p class="font-italic">No Reviews posted yet.</p>
        {{/if}}
    </div>
  </div>
</div>