{{!-- 


<head>
    <meta charset="utf-8">
    <title>User Profile:</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head> --}}
<main>
    {{>usersidebar}}


    <div class="text-center p-2">
        <h1>User Profile:</h1>
        <p>username: {{username}}</p>
        <p>first name: {{firstname}}</p>
        <p>last name: {{lastname}}</p>
        <p>email: {{email}}</p>
        <p>age: {{age}}</p>
    </div>
</main>