<div class="profile">
{{>usersidebar}}
<div class="ms-4 p-2">
    <h1>User Profile:</h1>
    <p>Username: {{username}}</p>
    <p>First Name: {{firstname}}</p>
    <p>Last Name: {{lastname}}</p>
    <p>Email: {{email}}</p>
    <p>Age: {{age}}</p>
</div>
</div>

