<div class="container-fluid">
  <div class="row">
    <div class="col">
    {{>usersidebar}}
    </div>
    <div class="col-9 p-2 ms-4">
    <h1>User Profile:</h1>
    <p>Username: {{username}}</p>
    <p>First Name: {{firstname}}</p>
    <p>Last Name: {{lastname}}</p>
    <p>Email: {{email}}</p>
    <p>Age: {{age}}</p>
       </div>
    </div>
  </div>
</div>

