<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/public/images/login.png" alt="Image" class="img-fluid" />
      </div>
      <div class="col-md-6" id="signup-contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Sign Up</h3>
              <p class="mb-4 lightText">Welcome to What's Cooking?</p>
            </div>
            {{#if error}}
              <p class="error">{{error}}</p>
            {{/if}}
            <form action="/users/signup" method="POST" id="signup-form">
              <div class="mb-2">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  value="{{username}}"
                  placeholder="Username"
                  required
                />
                <div class="invalid-feedback"> Invalid username</div>
              </div>
              <div class="mb-2">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  value="{{password}}"
                  placeholder="Password"
                  required
                />
                <div class="invalid-feedback">Password must have 6 characters
                  without spaces</div>
              </div>
              <div class="mb-2">
                <label for="firstname">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstname"
                  name="firstname"
                  value="{{firstname}}"
                  placeholder="First Name"
                  required
                />
                <div class="invalid-feedback"> Invalid name</div>

              </div>
              <div class="mb-2">
                <label for="lastname">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastname"
                  name="lastname"
                  value="{{lastname}}"
                  placeholder="Last Name"
                  required
                />
                <div class="invalid-feedback"> Invalid name</div>

              </div>
              <div class="mb-2">
                <label for="email">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  value="{{email}}"
                  placeholder="Email"
                  required
                />
                <div class="invalid-feedback"> Invalid email</div>
              </div>
              <div class="mb-4">
                <label for="age">Age</label>
                <input
                  type="number"
                  class="form-control"
                  id="age"
                  name="age"
                  value="{{age}}"
                  placeholder="Age"
                  required
                />
                <div class="invalid-feedback"> Invalid age</div>
              </div>
              <div class="invalid-feedback mb-3">
                You must fill in all of the fields, and passsword has at least 6
                characters without spaces.
              </div>
              <div class="d-grid gap-2">
                <button id="loginBtn" class="btn" type="submit">Sign Up</button>
              </div>
            </form>
            <br />
            <p>Already have an account? Click here to
              <a href="/users/login">log-in</a>.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script src="/public/js/signup.js"></script>