{{!-- <head>
    <meta charset="utf-8">
    <title>Private</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <h1>Private</h1>
    <main>
        <p>your username is: {{username}}<p>
    </main>
    <a href="/logout">logout</a>
</body> --}}


<head>
    <meta charset="utf-8">
    <title>User Profile:</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <h1>User Profile:</h1>
    <main>
        <p>username:   {{username}}<p>
        <p>first name: {{firstname}}<p>
        <p>last name:  {{lastname}}<p>
        <p>email:      {{email}}<p>
        <p>age:      {{age}}<p>




    </main>
    <a href="/logout">logout</a>
</body>